:root {
  --primary: #b6895b;
  --bg: #010101;
  --wht: #fff;
}

footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: var(--wht);
  margin: 1rem;
}

footer .socials a:hover,
footer .links a:hover {
  color: var(--bg);
}

footer .links {
  margin-bottom: 1rem;
}

footer .links a {
  color: var(--wht);
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 1rem;
}

footer .credit a {
  color: var(--bg);
  font-weight: 400;
}

/* Media Queries */

/* Laptop */
@media screen and (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media screen and (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
}

/* Mobile */
@media screen and (max-width: 450px) {
  html {
    font-size: 55%;
  }
}