:root {
  --primary: #b6895b;
  --bg: #010101;
  --wht: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: 0;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: white;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 1.4rem 7%;
  background-color: rgba(1, 1, 1, 0.8);
  border-bottom: 1px solid #513c28;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  font-style: italic;
  color: var(--wht);
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: var(--wht);
  display: inline-block; 
  font-size: 1.6rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: #6d3d0fc5;
}

.navbar .navbar-nav a::after {
  content: '';
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(1);
}

.navbar .navbar-extra {
  display: flex;
  flex-direction: row;
  align-items: right;
}

.navbar .navbar-extra a{
  color: var(--wht);
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#display-menu {
  display: none;
}

/* Navbar search form */
.navbar .search-form {
  position: absolute;
  top: 100%;
  right: 7%;
  background-color: var(--wht);
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
}

.navbar .search-form.active {
  transform: scaleY(1);
}

.navbar .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color: var(--bg);
  padding: 1rem;
}

.navbar .search-form label {
  cursor: pointer;
  font-size: 2rem;
  margin-right: 1.5rem;
  color: var(--bg);
}

/* Shopping Cart */
.navbar .shopping-cart {
  position: absolute;
  top: 100%;
  right: -100%;
  height: 100vh;
  width: 35rem;
  padding: 0 1.5rem;
  background-color: var(--wht);
  color: var(--bg);
  transition: 0.3s;
}

.navbar .shopping-cart.active {
  right: 0%;
}

.navbar .shopping-cart .cart-item {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap:  1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px dashed #333;
  position: relative;
}

.navbar .shopping-cart img {
  height: 6rem;
  border-radius: 50%;
}

.navbar .shopping-cart h3 {
  font-size: 1.6rem;
  padding-bottom: 0.5rem;
}

.navbar .shopping-cart .item-price {
  font-size: 1.3rem;
  font-weight: 300;
}

.navbar .shopping-cart .total-detail {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

.navbar .shopping-cart .total-product {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.navbar .shopping-cart .amount-product {
  cursor: pointer;
}

.navbar .shopping-cart .amount-product:hover {
  color: var(--primary);
}

.navbar .shopping-cart .remove-item {
  position: absolute;
  right: 1rem;
  cursor: pointer;
}

.navbar .shopping-cart .remove-item:hover {
  color: var(--primary);
}

/* Media Queries */

/* Laptop */
@media screen and (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media screen and (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #display-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--wht);
    width: 20rem;
    height: 100vh;
    transition: 0.4s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform-origin: 0 0;
    transform: scaleX(0.3);
  }

  .navbar .search-form {
    width: 90%;
    right: 2rem;
  }
}

/* Mobile */
@media screen and (max-width: 450px) {
  html {
    font-size: 55%;
  }
}