.detail-checkout {
  display: block;
  width: calc(100% - 384px);
}

.detail-checkout .detail-address {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  border: 2px solid white;
  border-radius: 12px;
  margin-bottom: 16px;
}

.detail-checkout .detail-address .choice-address {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  gap: 20px;
}

.detail-checkout .detail-address .choice-address button {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  position: relative;
  border: 2px solid white;
  background: white;
  color: black;
  font-size: 1.2rem;
  border-radius: 8px;
  height: 30px;
  padding: 4px 16px;
}

.detail-checkout .detail-address .choice-address .change span {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  height: 100%;
  white-space: nowrap;
  gap: 4px;
}