.auth-container {
  margin: 8rem auto 0;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  align-items: center;
  overflow: hidden;
  width: 500px;
  /* height: 600px; */
  min-height: 400px;
  max-width: 100%;
}