.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  margin-top: 4rem;
}

.row .product-card {
  text-align: center;
  border: 1px solid #666;
  padding: 2rem;
}

.row .product-icons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.row .product-icons a {
  width: 4rem;
  height: 4rem;
  color: #fff;
  margin: 0.3rem;
  border: 1px solid #666;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row .product-icons a:hover {
  background-color: var(--primary);
  border: 2px solid var(--primary);
}

.row .product-image {
  padding: 1rem 0;
}

.row .product-image img {
  height: 25rem;
}

.row .product-content h3 {
  font-size: 2rem;
}

.row .product-stars,
.modal .product-stars {
  font-size: 1.7rem;
  padding: 0.2rem 0.8rem;
  color: var(--primary);
}

.row .product-stars .star-full,
.modal .product-stars .star-full {
  fill: var(--primary);
}

.row .product-price {
  font-size: 1.3rem;
  font-weight: bold;
}

.row .product-tags .tag {
  display: inline-block;
  background-color: #b6895b;
  color: #fff;
  font-size: 1.3rem;
  padding: 4px 8px;
  margin-top: 0.5rem;
  border-radius: 4px;
}

.tag #tag {
  height: 12px;
  padding-right: 4px;
}