.choose-address {
  padding: 10rem 7% 1.4rem;
}

.choose-address h2 {
  text-align: center;
  font-size: 2.6rem;
  display: block;
  line-height: 1.33333;
}

.choose-address .page-chooseAddress {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 70%;
  margin: 0px auto;
  padding: 20px;
  border-radius: 8px;
}

.choose-address .page-chooseAddress .box-address {
  padding: 24px;
  gap: 16px;
  display: block;
  border-radius: 12px;
}

.choose-address .page-chooseAddress .box-address .address {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  padding: 10px 0;
  cursor: pointer;
  margin-bottom: 25px;
  background: black;
  border: 2px solid white;
}

.choose-address .page-chooseAddress .box-address .label-radio {
  display: flex;
  padding: 10px 20px;
  cursor: pointer;
  align-items: center;
}

.choose-address .page-chooseAddress .box-address .label-radio p {
  color: white;
  text-align: justify;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.57143;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.choose-address .page-chooseAddress .box-address .submit-button {
  display: flex;
  align-items: center;
  width: 75%;
  justify-content: space-between;
  gap: 20px;
  margin: 25px auto 0 auto;
}

.choose-address .page-chooseAddress .box-address .submit-button .submit {
  font-size: 1.3rem;
  letter-spacing: 1px;
  font-weight: 525;
  background: white;
  height: 100%;
  color: black;
  padding: 10px;
  border-radius: 12px;
  cursor: pointer;
  border: 2px solid white;
}

.choose-address .page-chooseAddress .box-address .address:hover,
.choose-address .page-chooseAddress .box-address .submit-button .submit:hover {
  background: #b6895b;
  border: 2px solid #b6895b;
  color: white;
}