.orderList-container {
  padding: 10px;
}

.orderList-container .text-orderList {
  font-size: 1.8rem;
  font-weight: 800;
  margin: 5px 0 30px;
}

.orderList-container .loadingOrder-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.orderList-container .loadingOrder-container .loadingAddress-content {
  height: 100%;
}

.orderList-container .loadingOrder-container .loadingOrder-text {
  font-size: 1.6rem;
  font-weight: 700;
}

.orderList-container .table-orderList {
  border-collapse: collapse;
  width: 100%;
}

.orderList-container .table-orderList th {
  padding: 8px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  width: 20%;
}

.orderList-container .table-orderList .fill-orderContent .invoice:hover {
  color: #68dd76;
  text-decoration: underline;
  cursor: pointer;
}

.orderList-container .table-orderList .order-empty {
  padding: 8px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  border-top: 1px solid white;
}

.orderList-container .table-orderList .order-empty img {
  height: 125px;
  width: 125px;
}

.orderList-container .table-orderList .fill-orderContent {
  padding: 8px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  width: 20%;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}