.cart-address {
  padding: 7rem 7% 1.4rem;
}

.cart-address h2 {
  text-align: justify;
  font-size: 2.6rem;
  margin-bottom: 3rem;
  display: block;
  line-height: 1.33333;
}

.cart-address .page-checkout {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

/* Detail Checkout */
.page-checkout .detail-checkout {
  display: block;
  width: calc(100% - 384px);
}

.page-checkout .detail-checkout .detail-address {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  /* background: rgb(255,255,255); */
  border: 2px solid white;
  border-radius: 12px;
  margin-bottom: 16px;
}

.detail-checkout .detail-address h2 {
  color: white;
  font-size: 1.5rem;
  line-height: 1.28571;
  margin: 0px;
  font-weight: 800;
}

.detail-checkout .detail-address .box-address {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.detail-checkout .detail-address .user-address {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.detail-checkout .detail-address .user-address .user,
.detail-checkout .detail-address .user-address .address {
  display: flex;
  gap: 5px;
}

.detail-checkout .detail-address .user-address .user p {
  color: white;
  font-size: 1.5rem;
  line-height: 1.28571;
  margin: 0px;
  font-weight: 800;
  text-overflow: ellipsis;
  overflow: hidden;
}

.detail-checkout .detail-address .user-address .address p {
  color: white;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.57143;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.detail-checkout .detail-address .box-address .choice-address {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  gap: 12px;
}

.detail-checkout .detail-address .box-address .choice-address button {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  position: relative;
  border: 1px solid white;
  background: white;
  color: black;
  font-size: 1.2rem;
  border-radius: 8px;
  height: 24px;
  padding: 4px 16px;
}

.detail-checkout .detail-address .box-address .choice-address .change span {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  height: 100%;
  white-space: nowrap;
  gap: 4px;
}