:root {
  --primary: #b6895b;
  --bg: #010101;
  --wht: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 1.4rem 7%;
  background-color: rgba(1, 1, 1, 0.8);
  border-bottom: 1px solid #513c28;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  font-style: italic;
  color: var(--wht);
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: var(--wht);
  display: inline-block; 
  font-size: 1.6rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: #6d3d0fc5;
}

.navbar .navbar-nav a::after {
  content: '';
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(1);
}

/* Navbar Extra */
.navbar .navbar-extra {
  display: flex;
  flex-direction: row;
  align-items: right;
}

.navbar .navbar-extra a{
  color: var(--wht);
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#display-menu {
  display: none;
}

/* Search Form */
.navbar .search-form {
  position: absolute;
  top: 100%;
  right: 7%;
  background-color: var(--wht);
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
}

.navbar .search-form.active {
  transform: scaleY(1);
}

.navbar .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color: var(--bg);
  padding: 1rem;
}

.navbar .search-form label {
  cursor: pointer;
  font-size: 2rem;
  margin-right: 1.5rem;
  color: var(--bg);
}

/* Shopping Cart */
.navbar .navbar-extra #shopping-cart-button {
  position: relative;
}

.navbar .navbar-extra #shopping-cart-button .quantity-badge {
  display: inline-block;
  padding: 0 4px;
  background-color: #E02954;
  border: 2px solid #fff;
  border-radius: 18px;
  font-size: 0.8rem;
  position: absolute;
  top: -7px;
  right: -7px;
  text-align: center;
}

.navbar .navbar-extra #shopping-cart-button .quantity-badge:hover {
  color: none;
}

.navbar .shopping-cart {
  position: absolute;
  top: 100%;
  right: -100%;
  height: 90vh;
  width: 35rem;
  padding: 0 1.5rem;
  background-color: var(--wht);
  color: var(--bg);
  transition: 0.3s;
}

.navbar .shopping-cart.active {
  right: 0%;
}

.navbar .shopping-cart .head-cart {
  display: flex;
  margin: auto 0;
}

.navbar .shopping-cart .head-cart h4 {
  margin-top: 1rem;
  font-size: 1.6rem;
}

.navbar .shopping-cart .head-cart .qty-cart {
  position: absolute;
  right: 2rem;
}

.navbar .shopping-cart .cart-item {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  gap:  1.5rem;
  padding: 1rem 0;
  border: 2px solid #333;
  border-radius: 12px;
  position: relative;
}

.navbar .shopping-cart .cart-item .item-detail {
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.navbar .shopping-cart .cart-item .remove-item {
  position: absolute;
  right: 1rem;
  margin-top: 5px;
  cursor: pointer;
}

.navbar .shopping-cart .cart-item .remove-item:hover {
  color: #b6895b;
}

.navbar .shopping-cart img {
  margin-left: 10px;
  height: 4rem;
  border-radius: 50%;
}

.navbar .shopping-cart h3 {
  font-size: 1.4rem;
  margin-right: 38px;
}

.navbar .shopping-cart .item-price {
  font-size: 1.3rem;
  font-weight: 500;
  display: flex;
  gap: 15px;
}

.navbar .shopping-cart .item-price .item-qty {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.navbar .shopping-cart .item-price .item-qty .qty {
  display: flex;
  justify-content: space-between;
}

.navbar .shopping-cart .cart-item .item-price #plus,
.navbar .shopping-cart .cart-item .item-price #minus {
  display: inline-block;
  padding: 2px 5px;
  cursor: pointer;
  margin: 0 3px;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
  border-radius: 8px;
}

.navbar .shopping-cart .item-price .total-price {
  margin: auto 0;
}

.navbar .shopping-cart .text-total {
  font-size: 1.6rem;
  text-align: center;
}

.navbar .shopping-cart .button {
  justify-content: center;
  display: flex;
}

.navbar .shopping-cart .checkout-button,
.navbar .shopping-cart .delete-button {
  padding: 6px 14px;
  background-color: royalblue;
  color: var(--wht);
  font-weight: bold;
  font-size: 1rem;
  border-radius: 20px;
  margin: 1rem auto;
  cursor: pointer;
}

.navbar .shopping-cart .is-image-emptyCart,
.navbar .shopping-cart .is-image-login {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 0;
  margin: 10px auto 0;
}

.navbar .shopping-cart .is-navbar-emptyCart,
.navbar .shopping-cart .is-navbar-login {
  font-size: 1.6rem;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
}

.navbar .shopping-cart .button-navbar-login {
  display: flex;
  margin: 0 auto;
  background-color: #512da8;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
}

/* Media Queries */
/* Tablet */
@media screen and (max-width: 768px) {
  #display-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--wht);
    width: 20rem;
    height: 100vh;
    transition: 0.4s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform-origin: 0 0;
    transform: scaleX(0.3);
  }

  .navbar .search-form {
    width: 90%;
    right: 2rem;
  }
}