.box-shopping {
  border-radius: 12px;
  width: 384px;
  min-width: 200px;
  height: fit-content;
  margin: 75px 0px 76px;
  padding: 24px 0px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: sticky;
  top: 168px;
  background: white;
}

.box-shopping .body-shopping {
  width: 100%;
  padding: 0px 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.box-shopping .body-shopping h2 {
  color: black;
  font-size: 1.5rem;
  line-height: 1.25;
}

.box-shopping .body-shopping .total-price {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  gap: 4px;
}

.box-shopping .total-price span {
  font-size: 1.3rem;
  line-height: 1.28571;
  color: black;
}

.box-shopping .delete,
.box-shopping .checkout,
.go-products {
  width: 100%;
  padding: 0 24px;
}

.box-shopping .delete .delete-btn,
.box-shopping .checkout .checkout-btn,
.go-products .go-products-btn {
  display: block;
  width: 100%;
  font-weight: bold;
  text-decoration: none;
  position: relative;
  border: 1px solid #b6895b;
  background: #b6895b;
  color: white;
  font-size: 1.3rem;
  border-radius: 8px;
  height: 40px;
}

.box-shopping .delete .delete-btn span,
.box-shopping .checkout .checkout-btn span,
.go-products .go-products-btn span {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  height: 100%;
  white-space: nowrap;
  gap: 4px;
  cursor: pointer;
}

.box-shopping .delete .delete-btn span:hover,
.box-shopping .checkout .checkout-btn span:hover,
.go-products .go-products-btn span:hover {
  color: #c59e77c4;
}