.choosecontent-container {
  position: sticky;
  display: flex;
  flex-direction: column;
  gap: 15px;
  top: 100px;
  width: 350px;
  margin: 30px 0px;
  padding: 10px 0px;
  height: fit-content;
  background: white;
  border-radius: 12px;
  border: 3px solid white;
}

.choosecontent-container .fill-choosecontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  padding: 24px 0;
  gap: 20px;
}

.choosecontent-container .fill-choosecontent .icon-content {
  display: flex;
  padding: 5px 30px;
  margin: 0 auto;
  gap: 10px;
  width: 90%;
  height: 100%;
  border-radius: 10px;
  border: 3px solid black;
  cursor: pointer;
}

.choosecontent-container .fill-choosecontent .icon-content .icons {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0;
}

.choosecontent-container .fill-choosecontent h3 {
  font-size: 1.50rem;
  font-weight: 700;
}

.choosecontent-container .fill-choosecontent .icon-content:hover,
.choosecontent-container .fill-choosecontent .icon-content.active {
  background: #b6895b;
  color: white;
}