.tag-list {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-weight: 300;
  font-size: 24px;
}

.tag-list h3 {
  padding: 0 20px 0 0;
  color: #fd8904;
}

.tag-list p {
  padding: 0 10px 0 0;
  display: flex;
  margin: 0 0 0 20px;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}