.tag-list {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-weight: 300;
  font-size: 24px;
}

.tag-list h3 {
  padding: 0 20px 0 0;
  color: #fd8904;
}

.tag-list p {
  padding: 0 10px 0 0;
  display: flex;
  margin: 0 0 0 20px;
  font-size: 27px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

.tag-list .dropdown .dropbtn:hover,
.tag-list .dropdown .dropdown-content p:hover,
.tag-list p:hover {
  color: #b6895b;
}

/* Dropdown */
.tag-list .dropdown .dropbtn,
.tag-list .dropdown .dropdown-content p {
  font-family: Poppins;
  font-size: 27px;
  font-weight: 600;
}

.tag-list .dropdown .dropbtn {
  display: flex;
  padding: 3px 10px 0 0;
  margin: 0 0 0 20px;
  background-color: #010101;
  color: white;
  border: none;
  cursor: pointer;
}

.tag-list .dropdown {
  position: relative;
  display: inline-block;
}

.tag-list .dropdown .dropdown-content {
  display: none;
  position: absolute;
  margin-left: 20px;
  background-color: grey;
  min-width: 16px;
  z-index: 1;
}

.tag-list .dropdown .dropdown-content p {
  color: #fff;
  margin-left: 0;
  justify-content: center;
  display: block;
}

.tag-list .dropdown .dropdown-content .coffee p {
  padding: 5px 8px;
}

.tag-list .dropdown .dropdown-content .non-coffee p {
  padding: 5px 38px;
}

.tag-list .dropdown .dropdown-content .snack p {
  padding: 5px;
}

.tag-list .dropdown .dropdown-content p:hover {background-color: #f1f1f1}

.tag-list .dropdown:hover .dropdown-content {
  display: block;
}